<a href="<%= feature_point_path(activity_item.subject) %>">
  <strong><%= activity_item.user_name %></strong> 
  suggested a station
  <%= t("activity.point.in_region", :region => activity_item.feature.region_name) %>.
</a>