/*
 *
 * General Styles
 *
 */
#content {
  background-color: #fff;
}

/* Forms, Inputs, & Buttons */
label {
  color: #737373;
  font-size: 0.8em;
  display: block;
}
input[type=button],
input[type=submit],
button {
  display: block;
  background-color: #00aaff;
  border: 0;
  margin: 0 0 0.667em;
  padding: 0 1em;
  color: #f3f3f3;
  font-weight: bold;
  font-size: 2.25em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  line-height: 2.25em;
  height: 2.25em;
  text-shadow: 1px -1px 0 #0066aa;
     -moz-box-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
input[type=button]:hover,
input[type=submit]:hover,
button:hover {
  color: #fff;
}
input[type=button]:active,
input[type=submit]:active,
button:active {
  background-color: #00AEF2;
  color: #fff;
     -moz-box-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
#locate_feature,
#finalize_feature {
  height: 2.5em;
  padding: 0 1em;
  font-size: 1.6em;
  line-height: 2.4em;
  margin-bottom: 0;
  border: 1px solid #3066a2;
  border-radius: 5px;
  -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
           border-radius: 5px;
  background: #2cbfec url(button-gradient-large.png) center bottom repeat-x scroll;
}

/* Tables */
table {
  text-align: left;
}
tr {
  border-bottom: 1px solid #fff;
  background-color: #eee;
}
tr:hover {
  background-color: #e9e9e9;
}
td, th {
  padding: 0.667em 1.5em 0.667em 10px;
}
th {
  background-color: #bbb;
  font-size: 0.667em;
  text-transform: uppercase;
}
table.regions {
}

/* Global */
.avatar {
  background : transparent url('user.png') no-repeat scroll top right;
  width      : 26px;
  height     : 25px;
  position   : relative;
  float      : left;
}

/*
 *
 * Header
 *
 */
#header {
  color: #fff;
  background: #808080 url(cdot-background.jpg) center top repeat scroll;
     -moz-box-shadow: 0 4px 0 rgba(85, 85, 85, 0.5);
  -webkit-box-shadow: 0 4px 0 rgba(85, 85, 85, 0.5);
          box-shadow: 0 4px 0 rgba(85, 85, 85, 0.5);
}
#pages a {
  background: #de8700 url(pages-menu-gradient.png) center center repeat-x scroll;
  color: #fff;
  margin-right: 10px;
  font-weight: bold;
  text-decoration: none;
  float: left;
  padding: 0.4em 1em;
  border: 1px solid #b06a00;
  border-top: 1px solid #d68800;
  border-bottom: 1px solid #844700;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
#pages a:hover {
  color: #fff;
}
#site-title {
  padding-top: 10px;
}
#site-title a {
  background: url(cdot-logo.png) 0 0 no-repeat scroll;
  float: left;
  width: 125px;
  height: 60px;
  text-indent: -9999px;
}
#site-title a:hover {
}
#pages {
  margin-top: 20px;
  margin-left: 30px;
  float: left;
}
#header .meta-separator {
  color: #777;
  margin: 0 0.25em;
}
#access {
  float:right;
  padding-top: 0.5em;
}
#access > span {
  display: block;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #b8d5e6;
}

#access .account,
#access .account .my-points,
#access .account .my-supports,
#access .menu {
  float: left;
  font-size: 0.9em;
}
#access .account span {
  padding-left: 1.2em;
  font-size: 1.8em;
  font-weight: bold;
}
#access .account > div {
  margin-right: 1em;
}
#access .account .my-points span {
  background: transparent url('marker-bike.png') no-repeat scroll center left;
  color: lightblue;
}
#access .account .my-supports span {
  background: transparent url('thumbs-up.png') no-repeat scroll center left;
  color: pink;
}
#access .menu {
  position: relative;
}
#access .menu a {
  display: block;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  margin: 0;
  padding: 0.1em 0.3em;
}
#access .menu img {
  height: 40px;
  vertical-align: middle;
}
#access .menu span.arrow-s {
  font-size: 0.5em;
  border-top-color: #addcf0;
  margin: 0 5px;
}
#access .menu li {
  background-color: #42b4e2;
  border: 0;
  display: none;
  line-height: 1.5;
  position: absolute;
  top: 100%;
  right: 0;
  white-space: nowrap;
}
#access .menu li:first-child {
  display: block;
  line-height: 0px;
  position: relative;
  top: 0;
}
#access .menu:hover li {
  display:block;
}
.sign-in-text {
  float: left;
  color: #888;
  font-size: 0.8em;
  line-height: 2;
}
.sign-in {
  float: left;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  margin: 0.25em 0 0 0.25em;
}
.facebook-login {
  background: url("facebook-login-16.gif") no-repeat scroll 0 0 transparent;
}
.twitter-login {
  background: url("twitter-login-16.gif") no-repeat scroll 0 0 transparent;
}
#access .sign-in {
  width: 32px;
  height: 32px;
  text-indent: -9999px;
}
#access .facebook-login {
  background: url("facebook-login-32.png") no-repeat scroll 0 0 transparent;
}
#access .twitter-login {
  background: url("twitter-login-32.png") no-repeat scroll 0 0 transparent;
}

/*
 *
 * Map Zoom Controls
 *
 */
.leaflet-control-zoom {
  background-color: transparent;
}
.leaflet-control-zoom a {
  height: 27px;
  width: 27px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0;
     -moz-box-shadow: -2px 2px 0 rgba(85, 85, 85, 0.5);
  -webkit-box-shadow: -2px 2px 0 rgba(85, 85, 85, 0.5);
          box-shadow: -2px 2px 0 rgba(85, 85, 85, 0.5);
}
.leaflet-control-zoom a:active {
  position: relative;
  top: 1px;
  right: 1px;
     -moz-box-shadow: -1px 1px 0 rgba(85, 85, 85, 0.5);
  -webkit-box-shadow: -1px 1px 0 rgba(85, 85, 85, 0.5);
          box-shadow: -1px 1px 0 rgba(85, 85, 85, 0.5);
}
.leaflet-control-zoom-in {
  background-image: url(zoom-in.gif);
}
.leaflet-control-zoom-out {
  background-image: url(zoom-out.gif);
}

/*
 *
 * Feature Popup
 *
 */
.information-panel-content .feature,
.information-panel-content .page {
  background-color: white;
  border: 1px solid #a8a8a8;
  padding: 1.5em;
     -moz-box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
  -webkit-box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
          box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
}
.information-panel-content {
  line-height: 1.5;
}
.overflowing .information-panel-content:after {
  content: "";
  height: 5px;
  background: url("popup-overflow.png") repeat-x scroll 0 0 transparent;
  position: absolute;
  right: 1em;
  bottom: 1px;
  left: 1em;
  border-bottom: 0.75em solid #fff;
  z-index: 100;
}

/* Feature Popup - Content */
.feature h2 {
  font-size: 1.5em
}
.feature .name {
  margin: 0 0 0.25em;
}
.feature-header > .avatar {
  width: 48px;
  height: 48px;
  margin-right : 0.8em;
}
.feature .description {
  clear: both;
  font-size: 0.8em;
  line-height: 1.3em;
}
.feature-submitter {
}
.feature.show .weak {
  color : #888;
}
.feature textarea {
  width : 90%;
}
.feature fieldset.auth {
  margin: 0.5em 0 1em;
}
.feature fieldset.auth div {
  margin-bottom: 0;
}
.feature.new p {
  margin-bottom: 0;
}
.feature .sign-in-text {
  font-size: 0.7em;
  color: #444;
  line-height: 2.5em;
}
.feature .sign-in {
  width: 17px;
  height: 17px;
  margin-top: 0.5em;
}
.feature div {
  margin-bottom: 1em;
}
.feature .feature-header {
  line-height: 1em;
}
.feature .location_types input[type=checkbox] {
   position: absolute;
   top: -9999px;
   left: -9999px;
}
.feature .location_types label img {
  vertical-align: bottom;
}
.feature .location_types label.checkbox-button {
  display: inline-block;
  cursor: pointer;
  background: #EAEAEA url(location-type-unchecked-gradient.png) center center repeat-x scroll;
  padding: 0.5em 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.6em;
  color: #999;
  border: 1px solid #CCC;
  border-radius: 5px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.feature .location_types label.checkbox-button.checked {
  color: #444;
  background: #D2E9F5 url(location-type-gradient.png) center center repeat-x scroll;
}

.feature.show .location_types label.checkbox-button.checked {
  cursor: inherit;
}

.feature.new input[type="submit"],
#reply input[type="submit"] {
  color: #fff;
  font-weight: normal;
  line-height: 1em;
  font-size: 1em;
  border: 1px solid #2A76B5;
  background: #0AF url(button-gradient.png) center center repeat-x scroll;
  border-radius: 5px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

/* Discussion */
.discussion {
  position: relative;
  margin-top: 2em;
}
.discussion-header {
  margin: 1em 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ddd;
}
a.reply-link {
  background: #A3C7D9;
  color: #fff;
  font-size: 0.75em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 0.5em;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}
a.reply-link:hover {
  background: #00aaff;
}
.discussion ul {
  margin-left: 0;
}
.discussion ul li {
  margin: 0 0 1em 0;
  padding: 0 0 0.5em 40px;
  min-height: 25px;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.comment-header {
  line-height: 1.2;
}
.comment-header .avatar {
  position: absolute;
  top: 0;
  left: 0;
}
.comment-header .avatar img {
  width: 26px;
}
.comment-submitter {
  display: block;
}
.comment-date {
  font-size: 0.8em;
}
.comment-body {
  font-size: 0.8em;
}
#reply.hide {
  display: none;
}
.reply-header {
  margin: 1.5em 0 1em;
}
#reply div {
  margin: 0 0 0.5em;
}
#reply input[type=submit] {
  margin-top: 1em;
}

/* Feature Popup - Admin */
.feature.show .feature-admin {
  border : 1px dashed red;
  padding: 10px;
  background-color: #F8F8FF;
}
.feature.show .feature-admin *[type=submit] {
  font-size: 1em;
}

/* Feature Popup - Flash Messages */
.flash {
  font-weight: bold;
  text-align: center;
  background-color: #fdf9e5;
  border: 1px solid #e4d2b7;
  position: relative;
  padding: 0.75em 2em 0.75em 3.5em;
}
.flash.notice:after,
.flash.error:after {
  font-size: 2em;
  text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff;
  margin-top: -0.9em;
  position: absolute;
  top: 50%;
  left: 0.5em;
}
.flash.notice:after {
  content: "✔";
  color: #00aaff;
}
.flash.error:after {
  content: "☠";
  color: #F61359;
}

/* Feature Popup - Social Buttons */
.information-panel .social {
     -moz-box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
  -webkit-box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
          box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
}
.social form.vote button[type=submit] {
  background-color: #e4e4e4;
  color: #444;
  border: 1px solid #a8a8a8;
  font-weight: bold;
  font-size: auto;
  font-size: 0.8em;
  height: 3em;
  line-height: 2.5em;
  margin: 15px;
  padding: 0.3em 1.2em;
  text-align: center;
  white-space: nowrap;
  float: left;
  text-shadow: none;
     -moz-box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
  -webkit-box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
          box-shadow: -4px 4px 0 rgba(85, 85, 85, 0.5);
}
.social form.vote button[type=submit].supported {
  background-color : #C1DFF1;
}
.social form.vote button[type=submit] span {
  font-weight: bold;
  color: #f61359;
  padding    : 6px 0 6px 25px;
}
.social form.vote button[type=submit] span {
  background : transparent url(thumbs-up-gray.png) no-repeat scroll top left;
}
.social form.vote button[type=submit].supported span {
  background : transparent url(thumbs-up.png) no-repeat scroll top left;
}

.social .sharing {
  float: left;
  width: 140px;
  margin: 1em 0 0 0;
}

.social .sharing ul,
.social .sharing li {
  margin: 0;
}
.social .sharing li a {
  float: left;
  width: 22px;
  height: 20px;
  margin: 0 10px 5px 0;
  text-indent: -10000px;
}
.social .sharing li a.twitter {
  background: url("twitter.gif") no-repeat scroll 0 0 transparent;
  width: 62px;
}
.social .sharing li a.facebook {
  background: url("facebook.gif") no-repeat scroll 0 0 transparent;
  width: 92px;
}
.social .sharing li a.email {
  background: url("mail.png") no-repeat scroll 0 0 transparent;
  clear: left;
}
.social .sharing li a.link {
  background: url("link.png") no-repeat scroll 0 0 transparent;
}

.social .sharing .copy-link-container {
  position: relative;
}

.social .sharing .copy-link {
  z-index: 10002;
  position: absolute;
  color: #444;
  border: 1px solid #DDD;
  font-size: 0.8em;
  left: 32px;
  width:150px;
  top: -1px;
  padding: 3px;
  outline-width: 0;
  display: none;
}

.social .sharing .copy-link:before {
  content: "";
  border-color: transparent #DDD transparent transparent;
  border-style: solid;
  border-width: 6px;
  height:0;
  width:0;
  position:absolute;
  top:4px;
  left:-13px;
}
.social .sharing .copy-link:after {
  content: "";
  border-color: transparent #fff transparent transparent;
  border-style: solid;
  border-width: 6px;
  height:0;
  width:0;
  position:absolute;
  top:4px;
  left:-12px;
}


/*
 *
 * News Ticker
 *
 */
#ticker {
  display : none;
     -moz-box-shadow: -4px 0 0 rgba(85, 85, 85, 0.5);
  -webkit-box-shadow: -4px 0 0 rgba(85, 85, 85, 0.5);
          box-shadow: -4px 0 0 rgba(85, 85, 85, 0.5);
}
#content.ticker_on #map-container {
  right : 14em;
}
#content.ticker_on #ticker {
  display  : block;
  position : absolute;
  width    : 14em;
  bottom   : 0;
  right    : 0;
  top      : 0;
  z-index  : 10000;
  overflow : auto;
  background-color: #CDE4F1;
  text-align: center;
}

#ticker #intro {
  padding: 1em 0.2em 0;
}

#ticker #intro p {
  margin-top: 1em;
}
#ticker ul {
  background-color: #E4E6E6;
  margin: 0;
  text-align: left;
}
#ticker ul a {
  color           : #395A7F;
  text-decoration : none;
  display         : block;
  padding: 10px 10px 10px 45px;
  position: relative;
  z-index: 10;
}
#ticker ul a:hover {
  color: #444;
}
#ticker li {
  padding: 0;
  min-height    : 25px;
  border-color  : #AACBE0;
  border-style  : solid;
  border-width  : 1px 0;
  font-size     : 0.8em;
  margin-bottom : 0;
  position: relative;
}
#ticker li.loading > div {
  margin : 1em auto;
  width  : 13px;
}
#ticker .avatar {
  width: 28px;
  height: 28px;
  text-align: right;
  margin: 10px 0 10px 10px;
  z-index: 5;
}
#ticker .avatar img {
  width: 28px;
}
#ticker div.badge {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 20px;
  right: 18px;
}
#ticker div.badge.feature_point {
  background : transparent url('ticker-bike-plus.png') no-repeat scroll center center;
}
#ticker div.badge.vote {
  background : transparent url('ticker-thumbs-up.png') no-repeat scroll center center;
}
#ticker div.badge.comment {
  background : transparent url('ticker-comment.png') no-repeat scroll center center;
}

/* HiderSlider Widget */
.ui-sliderhider-container .ui-widget-content { background: #eeeeee 50% top repeat-x; }
.ui-sliderhider-container .ui-state-default, .ui-sliderhider-container .ui-widget-content .ui-state-default, .ui-sliderhider-container .ui-widget-header .ui-state-default { background: #f6f6f6 50% 50% repeat-x; }

.ui-sliderhider-container {
  background: #3690CC url("button-gradient.png") center center repeat-x scroll;
  color:#fff;
  padding: 0 30px;
  font-size: 0.8em;
  font-weight: bold;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}
.ui-sliderhider-title {
}
.ui-sliderhider-content {
  /* We leave 1px width to deal with Chrome's fractional pixel problem, but
     that leaves 1px of gray. This blends it in with the container. */
  background: #E4E6E6 url("button-gradient.png") no-repeat left center scroll;
  padding-left:4px;
}
.ui-sliderhider-slider {
  background: transparent url("slider-wedge-greaterthan.gif") no-repeat left center scroll !important;
}
.ui-sliderhider-close {
  display: none;
  width: 14px;
  height: 14px;
  background: url("close-bttn.png") no-repeat scroll 0 0 transparent;
  text-indent: -9999px;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -7px !important;
  cursor: pointer;
}
.ui-sliderhider-container .ui-sliderhider-close:hover {
  background-position: bottom left;
}

.ui-sliderhider-container .ui-sliderhider-icon {
  width: 15px;
  height: 15px;
  background: url("ticker-thumbs-up.png") no-repeat scroll 0 0 transparent;
  text-indent: -9999px;
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -7px !important;
}

.ui-sliderhider-slider.ui-slider .ui-slider-handle {
  width:12px;
  height:20px;
  top: -5px;
  border:none;
  background: url("slider-handle.gif") no-repeat scroll 0 0 transparent;
}

/*
 *
 * Media Queries for Layout & Style Overrides
 *
 */

/* smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  #wrapper { font-size: 10px; }
  #header {
    height: 65px;
    padding: 0 10px;
    background: url(cdot-background-sm.jpg) center top no-repeat scroll;
  }
  #content {
    top: 65px;
  }
  #site-title {
    font-size: 2.75em;
  }
  #site-title a {
    background: url(cdot-logo-sm.png) 0 0 no-repeat scroll;
    width: 94px;
    height: 45px;
  }
  #footer {
    bottom: 4.5em;
    right: 0;
    left: 0;
    text-align: center;
    z-index: 200;
  }
  #footer button {
    display: inline;
  }
  #access {
    margin: 3px 0 0;
    padding: 0;
  }
  #pages {
    margin: 7px 0 0 20px;
    float: right;
    background: url(mobile-pages.gif) center center no-repeat scroll;
    width: 38px;
    height: 32px;
    overflow: visible;
  }
  #pages ul {
    display: none;
    background: #1f8ac2;
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    text-align: center;
       -moz-box-shadow: 0 4px 0 rgba(85, 85, 85, 0.5);
    -webkit-box-shadow: 0 4px 0 rgba(85, 85, 85, 0.5);
            box-shadow: 0 4px 0 rgba(85, 85, 85, 0.5);
  }
  #pages ul.active {
    display: block;
  }
  #pages li {
    display: block;
    float: none;
    font-size: 2.2em;
    border-top: 2px solid #2577b1;
    margin: 0;
  }
  #pages a {
    display: block;
    padding: 0.4em 0;
    background-image: none;
    background-color: transparent;
    color: #fff;
    margin: 0;
    float: none;
    border: 0;
    text-shadow: 1px -1px 0 #3066a2;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
  }
  #pages:hover a {
    display: block;
  }

  #access .account { display:none; }

  #access .menu a {
    padding: 0.1em 0.3em;
    font-size: 1.5em;
  }

  .leaflet-control-attribution {
    font-size:1.0em !important;
  }
  .leaflet-control-attribution img {
    display:none;
  }

  .social .sharing .copy-link {
    font-size: 1.2em;
    width:90px;
  }

/* smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
}

/* smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
}

/* desktops and laptops ----------- */
@media only screen
and (min-width : 640px) {
  #wrapper { font-size: 15px; }
}

/* large screens ----------- */
@media only screen
and (min-width : 1025px) {
  #wrapper { font-size: 16px; }
}

/* extra-large screens ----------- */
@media only screen
and (min-width : 1824px) {
  #wrapper { font-size: 18px; }
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
}

/* ----------- end Media Queries (NOTE: THESE SHOULD COME LAST) ----------- */
