<div id="map-container">
  <div id="map"></div>
  <div id="poweredby">Powered by <a href="http://shareabouts.org/">Shareabouts</a></div>
  <div id="filter"></div>
  <div id="popup"></div>
</div>

<div id="ticker">
  <div id="intro">
    <%= image_tag "chicagobikeprogram-logo.gif" %>
    <h6>Where would you like a Bike Share location?</h6>
    <p>Click 'Suggest a Location!' then drag the map pin to make adjustments.</p>
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style" style="margin:0 auto 1.2em 33%;" addthis:url="http://map.chicagobikes.org/" addthis:title="Where would you like a Bike Share location?">
      <a class="addthis_button_facebook"></a>
      <a class="addthis_button_twitter"></a>
      <a class="addthis_button_email"></a>
      <a class="addthis_button_google_plusone_share"></a>
    </div>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4f85a74364226aad"></script>
    <!-- AddThis Button END -->
  </div>
</div>

<% content_for :javascript do %>
<script type="text/javascript" charset="utf-8">
  if (!window.shareabouts) window.shareabouts = {};
  <% if @feature_point.present? %>
    window.shareabouts.initialFeatureId = <%= @feature_point.id %>;
  <% end %>
</script>
<% end %>

<% content_for :footer do %>
<div class="alpha60 padding10 center rounded-top">
  <button type="button" id="locate_feature" style="display:none;"><%= t 'map_controls.locate_feature' %></button>
  <button type="button" id="finalize_feature" style="display:none;"><%= t 'map_controls.finalize_feature' %></button>
</div>
<% end %>